<div *ngIf="hero" class="heroesDetails">
  <div class="ui-g">
    <div class="ui-g-4">
      <div class="ui-g-10" style="margin-left: -3%;">
        <h2>{{hero.name| uppercase }} {{'details' | translate | uppercase}}</h2>
      </div>
      <div class="ui-g-2" style="margin-top: 2.5%;">
        <span>ID: {{hero.id}}</span>
      </div>
    </div>
    <div class="ui-g-4">
      <p-button (click)="goBack()" class="buttonGoToHeroList" label="{{'go_to_hero_list' | translate}}"></p-button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <label class="first">{{'name' | translate}}: </label>
      <input id="input" type="text" size="20" pInputText [(ngModel)]="hero.name" placeholder="{{'hero_name' | translate}}">
    </div>
    <div class="ui-g-2">
      <p-button (click)="save(event)" label="{{'save' |translate}}"></p-button>
    </div>
  </div>
</div>
