<div *ngIf="hero">
  <form [formGroup]="heroForm" (ngSubmit)="onSave(heroForm.value)">
    <p-panel>
      <p-header>
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:0.4%">
        {{'id' | translate}}: {{hero?.id}} - {{hero?.name| uppercase }}
      </span>
        <p-button (click)="goBack()" class="buttonGoToHeroList" label="{{'go_to_hero_list' | translate}}"></p-button>
      </p-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
        <div class="ui-grid-row">
          <div class="ui-grid-col-1 heroesDetailsLabel">{{'hero_name_first_letter_in_capital_letters' | translate}} *:</div>
          <div class="ui-grid-col-2">
            <input pInputText type="text"
                   class="ng-pristine ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
                   formControlName="heroname" placeholder="{{'required' | translate}}"/>
          </div>
          <div class="ui-grid-col-1">
            <p-button type="submit" [disabled]="!heroForm.valid" label="{{'save' |translate}}"></p-button>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="{{'message_name_error' | translate}}"
                       *ngIf="!heroForm.controls['heroname'].valid&&heroForm.controls['heroname'].dirty">
            </p-message>
          </div>
        </div>
      </div>
    </p-panel>
  </form>
</div>
