<h2>My Heroes</h2>
<button (click)="goDashboad()" style="float: right;margin-top: -3.6%;margin-right: 79%;">
  Go to dashboard
</button>
<ul class="heroes">
  <div *ngFor="let hero of heroes">
    <li>
      <a (click)="goToHeroDetail(hero.id)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
    <button (click)="deleteHero(hero.id)" style="margin-left: 3%;">
      Delete hero
    </button>
  </div>
</ul>

<button (click)="showDataHero()" style="margin-bottom: 2%">
  + Add new hero
</button>

<div *ngIf="showAddNewHero">
  <label>name:
    <input [(ngModel)]="heroName" placeholder="name"/>
  </label>

  <button (click)="addNewHero()" style="margin-bottom: 2%"
          [disabled]="CommonUtil.isEmpty(heroName)">
    Save new hero
  </button>
</div>
