<h2>My Heroes</h2>
<p-button (click)="goDashboad()" class="buttonGoToDashboard" label="Go to dashboard">
</p-button>

<ul class="ui-g heroes" *ngFor="let hero of heroes">
  <div class="ui-g-2">
    <li>
      <a (click)="goToHeroDetail(hero.id)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </div>
  <div class="ui-g-1">
    <p-button (click)="deleteHero(hero.id)" class="deleteButton"
              label="Delete hero" styleClass="ui-button-danger">
    </p-button>
  </div>
</ul>

<p-button (click)="showDataHero()" class="addNewHeroButton" label="+ Add new hero"></p-button>

<div *ngIf="showAddNewHero" class="infoNewHero">
  <label>Name:
    <input [(ngModel)]="heroName" placeholder="hero name"/>
  </label>

  <button pButton label="Save new hero"
          (click)="addNewHero()" class="saveNewHeroButton" [disabled]="isEmptyHeroName()">
  </button>
</div>
