@charset "utf-8"
@import 'variables.sass'

h1
  color: $color-blue
  font-family: $font-family__a
  font-size: $font-size

h2, h3
  color: $color-black
  font-family: $font-family__a
  font-weight: $font-weight

body
  margin: $margin

body, input[text], button
  font-family: $font-family__b
  color: $color-grey

*
  font-family: $font-family__a

/* Style for a heroes component */
.heroes
  margin: $margin-heroes
  list-style-type: none
  padding: 0
  width: 15em

.heroes selected
  background-color: $color-white
  color: white

.heroes li
  cursor: pointer
  position: relative
  left: 0
  background-color: #EEE
  margin: .5em
  padding: .3em 0
  height: 1.6em
  border-radius: 4px

.heroes li.selected:hover
  background-color: #BBD8DC !important
  color: white

.heroes li:hover
  color: #607D8B
  background-color: #DDD
  left: .1em

.heroes .text
  position: relative
  top: -3px

.heroes .badge
  display: inline-block
  font-size: small
  color: white
  padding: 0.8em 0.7em 0 0.7em
  background-color: #607D8B
  line-height: 1em
  position: relative
  left: -1px
  top: -4px
  height: 1.8em
  margin-right: .8em
  border-radius: 4px 0 0 4px

.messages h2
  color: red
  font-family: $font-family__a
  font-weight: lighter

.messages body
  margin: 2em

.messages body, input[text], button
  color: crimson
  font-family: $font-family__b

.messages button.clear
  font-family: $font-family__default
  background-color: #eee
  border: none
  padding: 5px 10px
  border-radius: 4px
  cursor: pointer
  color: #888
  margin-bottom: 12px

.messages button:hover
  background-color: #cfd8dc

.messages button:disabled
  background-color: #eee
  color: #aaa
  cursor: auto
