@charset "utf-8"
@import 'variables.sass'

/* Elements shared by all components of the application */
h1
  color: $color-light-grey
  margin-bottom: $margin-zero
  font-size: $h1-font-size

h2, h3
  font-size: $h2-h3-font-size
  margin-top: $margin-zero
  padding-top: $margin-zero

body
  margin: $margin

body, input[text], button
  font-family: $font-family__b
  color: $color-grey

body
  margin: $margin-zero

*
  font-family: $font-family__a

nav a
  padding: 5px 10px
  text-decoration: $none-tex-decoration
  margin-top: 10px
  display: inline-block
  background-color: $bg-color-white__a
  border-radius: 4px

nav a:visited, a:link
  color: $color-blue-grey

nav a:hover
  color: $color-blue
  background-color: $bg-color-white__b

nav a.active
  color: $color-blue

/* Style for a heroes component */
.heroes
  list-style-type: none
  padding: 0

.heroes li
  cursor: pointer
  position: relative
  left: 0
  background-color: $bg-color-white__a
  padding: .3em 0
  border-radius: 4px
  height: 2.3em

.heroes li:hover
  color: $color-blue-grey
  background-color: $bg-color-white__c
  left: .1em

.heroes a
  color: $color-grey
  text-decoration: $none-tex-decoration
  position: relative
  display: block
  width: 250px

.heroes a:hover
  color: $color-blue-grey

.heroes .badge
  display: inline-block
  font-size: small
  color: $color-white-grey
  padding: 0.8em 0.7em 0 0.7em
  background-color: $color-blue-grey
  line-height: 1em
  position: relative
  left: -1px
  top: -5px
  height: 2.8em
  margin-right: .8em
  border-radius: 4px 0 0 4px

.buttonGoToDashboard
  float: right
  margin-top: -3.9%
  margin-right: 76%

.deleteButton
  margin-top: 3% !important

.addNewHeroButton
  margin-bottom: 2%

.saveNewHeroButton
  margin-left: 1% !important

.infoNewHero
  margin-bottom: 2% !important

/* Style for a dashboard component*/
.topHeroes [class*='col-']
  float: left
  padding-right: 20px
  padding-bottom: 20px

.topHeroes [class*='col-']:last-of-type
  padding-right: 0

.topHeroes a
  text-decoration: $none-tex-decoration

.topHeroes *, *:after, *:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.topHeroes h3
  text-align: center
  margin-bottom: 0

.topHeroes h4
  position: relative

.topHeroes .grid
  margin: 0

.topHeroes .col-1-4
  width: 25%

.topHeroes .module
  padding: 20px
  text-align: center
  color: $color-white
  max-height: 120px
  min-width: 120px
  background-color: #607d8b
  border-radius: 2px

.topHeroes .module:hover
  background-color: $bg-color-white__a
  cursor: pointer
  color: $color-blue-grey

.topHeroes .grid-pad
  padding: 10px 0

.topHeroes .grid-pad > [class*='col-']:last-of-type
  padding-right: 20px

@media (max-width: 600px)
  .module
    font-size: 10px
    max-height: 75px

@media (max-width: 1024px)
  .grid
    margin: 0
  .module
    min-width: 60px

/* Style for a hero details component */
.heroesDetails
  margin-bottom: 2%

.heroesDetails label
  width: 3em
  margin: .5em 0
  color: $color-blue-grey
  font-weight: bold

.heroesDetails input
  height: 2em
  font-size: 1em
  padding-left: .4em

.heroesDetails button
  cursor: pointer

.heroesDetails button:hover
  background-color: $bg-color-white__b

.heroesDetails button:disabled
  background-color: $bg-color-white__a
  color: $color-white-light-grey
  cursor: auto

.buttonGoToHeroList
  margin-top: 2.3%

/* Style for a navigation group component*/
.navBar .ui-menubar
  border-bottom: 1px solid $border-color-white
  border-radius: 0

.navBar .ui-menuitem .ui-state-active
  background-color: $b-navigation-color--is-selected

.g-wrapper
  margin-top: 2em
  padding-right: 2em
  padding-left: 2em
