// Default Colors
$color-blue: #369
$color-black: #444
$color-grey: #888

// Font
$font-family__a: Arial, Helvetica, sans-serif
$font-family__b: Cambria, Georgia
$font-size: 250%
$font-weight: lighter

// Margins
$margin: 2em
