// Default Colors
$color-light-grey: #999
$color-blue-grey: #607d8b
$color-black: #444
$color-grey: #888
$color-white-grey: #CFD8DC
$color-white: #EEE
$color-white-light-grey: #cc
$color-blue: #039be5
$color-red: #039be5
$mercury: #EAEAEA
$bg-color-white__a: #EEE
$bg-color-white__b: #cfd8dc
$bg-color-white__c: #DDD
$border-color-white: #c8c8c8

// Fonts
// Font, font-weight, size and color for body text, headings, and more.
$font-family__default: Arial !default
$font-family__a: Arial, Helvetica, sans-serif
$font-family__b: Cambria, Georgia
$h1-font-size: 2.5em
$h2-h3-font-size: 2em
$font-weight: lighter
$none-tex-decoration: none

// Margins
$margin-zero: 0
$margin: 2em
$margin-heroes: 0 0 2em 0

//navBar component
$b-navigation-color--is-selected: $mercury
